/* General */

h1 {
  font-size: 22px;
}

h2,
.label_text {
  font-size: 20px;
}

p {
  font-size: 18px;
}

h1,
h2,
p,
a,
label,
input {
  color: #1c2e35;
}

main {
  background-color: #f7f7f8;
  padding-bottom: 5em;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.button_color {
  color: #1c2e35;
}

.background_color {
  background-color: #d9d9d9;
}

/* || Header */

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 1em 5em;
  border-bottom: 1px solid #1c2e35;
}

.header_logo {
  align-items: center;
}

.logo {
  width: 84px;
  height: 84px;
  margin-right: 10px;
}

.text_header {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

.hidden {
  display: none;
}

#signindiv:not(.hidden),
#creatediv:not(.hidden) {
  display: flex;
  justify-content: flex-end;
}

/* || Body */

#blog_post_conatiner {
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
  margin-top: 5em;
}

.card {
  flex-direction: column;
}

.cover,
.cover_text, .cover_small_text {
  width: 320px;
}

/* Buttons */

button,
.latest-post-button {
  cursor: pointer;
  background-color: #1c2e35;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 1em;
}

.button_cover {
  margin-left: 0;
}

.latest-post-button {
  display: inline-block;
  width: 100px;
  height: 20px;
  padding: 10px 20px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.carousel-button {
  position: absolute;
  top: 35%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  align-content: stretch;
}

.prev-button {
  left: 3em;
}

.next-button {
  right: 5em;
}

.buttons_login_register {
  text-transform: uppercase;
}

.buttons_login_register,
input {
  width: 600px;
  height: 50px;
  margin-left: 0;
}

.button_post_content {
  margin-top: 3em;
  padding-bottom: 5em;
  justify-content: center;
  margin-right: 15em;
}

/* Carousel*/

#latest_post {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15em;
  padding-right: 15em;
  margin: 5em 10em;
  background-color: #d9d9d9;
  height: 430px;
}

.post-container {
  flex-direction: row;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  margin: 5em 5em;
  height: 430px;
}

.post-content {
  flex: 1;
  padding-right: 20px;
}

.post-content h2 {
  margin: 0 0 10px;
}

.post-content p {
  margin: 0 0 10px;
}

.post-image {
  max-width: 200px;
}

.post-image img {
  max-width: 100%;
  height: auto;
}

.carousel-container {
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  justify-content: center;
}

.carousel-item {
  flex: 0 0 70%;
}

/* || Post index pages*/

#title {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
  margin-top: 0;
  padding-top: 5em;
}

.post_content {
  justify-content: space-evenly;
}

#content {
  white-space: break-spaces;
  width: 50em;
}

#image {
  width: 20em;
}


/* || Create and edit page */

form {
  margin-left: 2em;
}

.title {
  flex-direction: row;
  justify-content: center;
}

.post_inputs {
  flex-direction: column;
  align-items: flex-start;
}

#create_post,
#edit_post {
  height: 250px;
  width: 600px;
  margin-bottom: 4em;
}

.label_text {
  font-weight: 500;
}

#save_create,
#save_edit {
  margin: 0;
  width: 600px;
}

#delete_post {
  margin-top: 1em;
  margin-left: 0;
  margin-bottom: 5em;
}

/* .vertical_line {
  width: 1em;
  height: 10em;
  background-color: #1c2e35;
  transform: rotate(90deg);
  transform-origin: left center;
} */

/* || Log in and register */

.img_text_log_reg,
.form_log_reg {
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

.img_log_reg {
  height: 200px;
  width: 200px;
}

.text_login_register,
.link_login_register {
  text-transform: uppercase;
}

.link_login_register {
  text-decoration: underline;
  margin-top: 1em;
  margin-bottom: 5em;
}


label {
  margin-bottom: 1em;
}

input {
  margin-bottom: 5em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* || Footer*/

footer {
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  border-top: 1px solid #1c2e35;
  width: auto;
  height: 20em;
}

.logo_text_footer,
.address {
  flex-direction: column;
  align-items: center;
}

.logo_text_footer {
  margin-top: 1em;
  margin-left: 2em;
}

.rounded {
  border-radius: 50%;
}

.title_address {
  margin: 0;
  padding-right: 75px;
}

.address {
  width: 9em;
  margin-top: 2em;
}

/* || Media Queries */

/* Desk */
@media only screen and (max-width: 1200px) {
}

/* Tablets */
@media only screen and (max-width: 850px) {
  h1 {
    font-size: 19px;
  }

  h2,
  .label_text {
    font-size: 17px;
  }

  p {
    font-size: 15px;
  }

  header {
  }

  .text_header {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
  }

  .logo {
    width: 64px;
    height: 64px;
    margin-right: 10px;
  }

  button {
    padding: 8px 10px;
    font-size: 14px;
  }

  #blog_post_conatiner {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em 1em;
    margin-left: 22px;
  }

  .post_content {
    flex-direction: column;
    align-items: center;
  }

  .cover, .cover_text, .cover_small_text {
    width: 250px;
  }

  #content {
    width: 35em;
    margin-top: 2em;
  }

  .button_post_content {
    margin-right: 0;
  }
}

/* Phones */
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 17px;
  }

  h2,
  .label_text {
    font-size: 15px;
  }

  p {
    font-size: 13px;
  }

  .text_header {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }

  .logo {
    width: 44px;
    height: 44px;
    margin-right: 10px;
  }

  button {
  }

  .post_content {
    flex-direction: column;
    align-items: center;
  }

  #blog_post_conatiner {
    grid-template-columns: repeat(1, 1fr);
    gap: 2em;
    margin-left: 3em;
  }

  #content {
    width: 20em;
  }

  .button_post_content {
    margin-left: 60px;
  }

  .buttons_login_register,
  input,
  #create_post,
  #edit_post,
  #save_create,
  #save_edit {
    width: 25em;
  }

  .buttons_login_register,
  input {
    height: 3em;
  }

  #create_post,
  #edit_post {
    height: 18em;
    margin-bottom: 4em;
  }

  #delete_post {
    margin-bottom: 3em;
  }

  .link_login_register {
    margin-bottom: 3em;
  }
}
