/* General */

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

p,
.text_edit_create {
  font-size: 18px;
}

h1,
h2,
p,
a,
label,
input {
  color: #1c2e35;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.button_color {
  color: #1c2e35;
}

.background_color {
  background-color: #d9d9d9;
}



/* || Header */

header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 1em 5em;
  border-bottom: 1px solid #1c2e35;
  margin-bottom: 5em;
}

.header_logo {
  align-items: center;
}

.logo {
  width: 84px;
  height: 84px;
  margin-right: 10px;
}

.text_header {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

.hidden {
  display: none;
}

#signindiv:not(.hidden),
#creatediv:not(.hidden) {
  display: flex;
  justify-content: flex-end;
}

/* || Body */


#blog_post_conatiner {
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
  margin-top: 5em;
}

.card {
  flex-direction: column;
}

.cover,
.cover_text {
  width: 300px;
}

/* Buttons */

button,
.latest-post-button {
  cursor: pointer;
  background-color: #1c2e35;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 1em;
}

.latest-post-button {
  display: inline-block;
  width: 100px;
  height: 20px;
  padding: 10px 20px;
  margin-top: 10px;
  text-align: center;
}

.carousel-button {
  position: absolute;
  top: 35%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  align-content: stretch;
}

.prev-button {
  left: 3em;
}

.next-button {
  right: 5em;
}

/* Carousel*/

#latest_post {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15em;
  padding-right: 15em;
  margin: 5em 10em;
  background-color: #d9d9d9;
  height: 430px;
}

.post-container {
  flex-direction: row;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  margin: 5em 5em;
  height: 430px;
}

.post-content {
  flex: 1;
  padding-right: 20px;
}

.post-content h2 {
  margin: 0 0 10px;
}

.post-content p {
  margin: 0 0 10px;
}

.post-image {
  max-width: 200px;
}

.post-image img {
  max-width: 100%;
  height: auto;
}

.carousel-container {
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  justify-content: center;
}

.carousel-item {
  flex: 0 0 70%;
}

/* || Post index pages*/

#title {
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
}

.post_content {
  justify-content: space-evenly;
}

#content {
  white-space: break-spaces;
  width: 50em;
}

#image {
  width: 20em;
}

.button_post_content {
  margin-top: 1em;
  margin-left: 90px;
}

/* || Create and edit page */

.title {
  flex-direction: row;
  justify-content: center;
}

.post_inputs {
  flex-direction: column;
  align-items: flex-start;
}

#create_post {
  height: 500px;
}

.text_edit_create {
}

/* .vertical_line {
  width: 1em;
  height: 10em;
  background-color: #1c2e35;
  transform: rotate(90deg);
  transform-origin: left center;
} */

/* || Log in and register */

.img_text_log_reg,
.form_log_reg {
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

.img_log_reg {
  height: 200px;
  width: 200px;
}

.text_login_register,
.link_login_register {
  text-transform: uppercase;
}

.link_login_register {
  text-decoration: underline;
  margin-top: 1em;
}

.buttons_login_register,
input {
  width: 600px;
  height: 50px;
}

label {
  margin-bottom: 1em;
}

input {
  margin-bottom: 5em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* || Footer*/

footer {
  height: 20em;
  background-color: #7cd7b1;
  margin-top: 5em;
  grid-template-columns: repeat(2, 1fr);
  justify-items: flex-start;
  align-items:center;
  border-top: 1px solid;
  width: auto;
}


.logo_text_footer {
  margin-top: 1em;
  margin-left: 2em;
  align-items: center;
}

.rounded {
  border-radius: 50%;
}

.address {
  flex-direction: column;
  align-items: center;
  width: 9em;
  margin-top: 2em;
}

/* || Media Queries */

@media (min-width: 300px) {
  .desktop_text {
    display: none;
  }
}

@media (min-width: 800px) {
  /* Tablet */
  .desktop_text {
    display: inline;
    width: 485px;
    height: 160px;
  }

  .lates_post_text {
    display: none;
  }
}

@media (min-width: 1100px) {
  /* Desktop */
  .lates_post_container {
    width: 1040px;
    height: 450px;
  }

  .read-more {
    width: 275px;
    height: 40px;
  }

  .lates_post_text {
    display: none;
  }

  .desktop_text {
    display: inline;
    width: 485px;
    height: 160px;
  }
}
